body:first-line{
  color: red ;
}

p[class="a"][tabindex="-1"]:hover{
  color: red; 
}
p[class="a"][tabindex="-1"]:active{
  color: green;
}
p[class="a"][tabindex="-1"]:focus{
  color:blue ;
}

p.a.c >span{
  color: red;
}
p.a.c >span>span{
  color:green ;
}
p.a.c >span>span+span{
   color: blue;
}

div > a[href="htpps//"]:visited{
  color: orange;
}
div > a[href="https://"]:link{
  color: pink;
}
div >a[href^="malito:" i]{
  color: blue;
}
div >a[href^="tel"]{
  color: yellow;
}
div >a[href$=".pdf" i]{
  font-size: 30px;
}
div.a ul :nth-child(n+4):nth-child(-n+7){
  color: red;
}


.b ul :nth-child(n+25){
  color: red;
}
.b ul :nth-child(n+65){
  color: green;
}
.b ul :nth-child(n+35):nth-child(-n+50){
  color: blue;
}

.prime ul :nth-child(2n+4){
  color: red;
}
.prime ul :nth-child(3n+6){
  color: red;
}
.prime ul :nth-child(5n+10){
  color: red;
}
.prime ul :nth-child(7n+14){
  color: red;
}